#index {
  margin: 0;
  .pattern {
    width: 1200px;
    margin: 40px;
    .title {
      width: 400px;
      font-size: 14px;
    }
    .scenes {
      list-style: none;
      width: 100%;
      margin : 0;
      padding: 0;
      list-style: none;
    }
    .scene {
      margin-bottom: 20px;
      width: 100%;
      .left {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0px;
        width: 250px;
        height: auto;
        .status {
          max-width: 200px;
          height: 560px;
          margin-bottom: 20px;
        }
        .label {
          margin-left: 30px;
        }
      }
      .right {
        display: inline-block;
        margin : 0;
        padding: 0;
        width: calc(100% - 260px);
        ul {
          width: 100%;
          margin : 0;
          padding: 0;
          list-style: none;
          li {
            display: inline-block;
            margin : 0;
            padding: 0;
            margin-right: 40px;
            width: 110px;
            height: 40px;
            text-align: center;
          }
        }
        .btn {
          margin: 0 5px 5px ;
          padding: 30px 20px;
          padding-top: 12px;
          background-position: center center;
          &.btn_0 {
            background-image: url("../images/icon_0.png");
          }
          &.btn_1 {
            background-image: url("../images/icon_1.png");
          }
          &.btn_2 {
            background-image: url("../images/icon_2.png");
          }
          &.btn_3 {
            background-image: url("../images/icon_3.png");
          }
          &.btn_4 {
            background-image: url("../images/icon_4.png");
          }
          &.checked {
            margin: -3px 2px 2px;
            border: 3px solid red;
          }
          &:not(.checked){
            opacity: 0.6;
          }
          .position {
            display: none;
          }

        }
        .submit {
          display: none;
        }
      }
    }
    .durations {
      margin-bottom: 60px !important;
      .duration {
        margin: 0 25px 0px !important;
        padding: 30px 0 !important;
        padding-top: 12px;
        width: 110px;
        height: 50px !important;
        border-radius: 10px;
        .time {
          display: none;
        }
        .val {
          margin-top: 0;
          font-size: 40px;
        }
        &.checked {
          background: red;
          .val {
            color: white;
          }
        }
        &:not(.checked){
          margin: -1px 24px -1px !important;
          border: 1px solid red;
        }
      }
    }
    .add-btn {
      margin-left: 270px;
      padding: 30px 35px;
      width: 720px;
      border-radius: 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: white;
      background: gray;
    }
    .play-btn {
      position: fixed;
      left: 40px;
      bottom: 40px;
      width: 200px;
      padding: 30px 10px;
      border: 1px solid black;
      border-radius: 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 70;
      color: black;
      background: white;
      &:after {
        content: "Play Pattern";
      }
      &.is-playing {
        color: white;
        background: black;
        &:after {
          content: "Stop";
        }
      }
    }
  }
  .template {
    display: none;
  }

}
